#share-menu {
    display: flex;
    flex-direction: column;

    & .share-links {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        list-style: none;
        margin: 0;
        padding: 0;
    }

    & .share-link-item {

        & + .share-link-item {
            margin-left: 8px;
        }
    }

    & .share-button {
        color: white;
        padding: 0.5rem 1rem;

        &.twitter {
            background-color: var(--twitter-color);
        }

        &.facebook {
            background-color: var(--facebook-color);
        }

        &.pinterest {
            background-color: var(--pinterest-color);
        }

        &.email {
            background-color: var(--grey);
        }

        & .share-link-name {
            display: none;
        }
    }
    @media screen and (max-width: 800px) {
        width: 50%;
    }
}
